@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #4ade80;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  @apply bg-gray-100;
}

#add-blog-form label,#login-form label {
  @apply block mb-1;
}

#add-blog-form input[type="text"] {
  @apply block w-full border mb-3 h-8 px-3;
}

#add-blog-form textarea {
  @apply w-full mb-3 border resize-y px-3;
}

#signup-form input[type="submit"],
#add-blog-form input[type="submit"],
#login-form input[type="submit"] {
  @apply p-2 bg-[var(--accent)] bg-opacity-0 rounded-md text-white cursor-pointer;
}

#login-form input:has(+ p:not(:empty)),
#add-blog-form input:has(+ p:not(:empty)),
#add-blog-form textarea:has(+ p:not(:empty)) {
  @apply mb-0;
}

#add-blog-form .error:not(:empty) {
  @apply mb-3;
}
input::placeholder {
  @apply text-sm;
}

#add-blog-form .error {
  @apply text-xs text-red-600;
}

input[type="submit"]:disabled {
  @apply cursor-not-allowed bg-gray-400 !important;
}


